  <% if @video.errors.any? %>
        <ul>
        <% @video.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
  <% end %>

  <table>
    <tbody>
      <tr>
        <td><%= f.label "Name" %></td>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <td><%= f.label "URL" %></td>
        <td><%= f.text_field :url %></td>
      </tr>
      <tr>
        <td><%= f.label "發布時間" %></td>
        <td><%= f.datetime_select :public_datetime %></td>
      </tr>
      <tr>
        <td><%= f.label "狀態" %></td>
        <td><%= f.select :status, [['預覽','default'], ['發布', 'public']] %></td>
      </tr>
      <tr>
        <td><%= f.label "簡介" %></td>
        <td><%= f.text_area :description %></td>
      </tr>

      <tr>
        <td>
          <%= link_to "返回", :back %> <%= f.submit "送出" %>
        </td>
      </tr>
    </tbody>
  </table>