<div class="container">
  <div class="">
    <h1 class="text-center">video list</h1>
    <div class="col-md-12">
      <!--       <%= link_to root_path ,:class => "btn btn-default" do %>
      <span class="glyphicon glyphicon-home"></span> 首頁
      <% end %> -->
      <%= link_to glyph(:home)+"首頁", root_path ,:class => "btn btn-default"  %>
      <button class="btn btn-primary" data-toggle="modal" data-target="#myModal"><%= glyph(:plus) %>新增</button>
      <%#= link_to glyph(:plus)+"新增", videos_path ,:class => "btn btn-primary new-video-btn" %>
      <!-- <a href="#video-form" id="btnForm">Load Form</a> -->
    </div>
    <div class="col-md-12">
      <% if flash[:notice] %>
      <div class="alert alert-success"><%= flash[:notice] %></div>
      <% end %>
      <% if flash[:alert] %>
      <div class="alert alert-warning"><%= flash[:alert] %></div>
      <% end %>
    </div>

<!-- Large modal -->

<div id="myModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
            <%= form_for @video, :html => {:class => 'form-horizontal'} do |f| %>
            <%= render :partial => 'form', :locals => { :f => f} %>
            <% end %>
    </div>
  </div>
</div>

    <!--   <div class="">
        <div class="col-md-12 modal-body">
          <div class="col-md-6 col-md-offset-3 ">
            <%= form_for @video, :html => {:class => 'form-horizontal'} do |f| %>
            <%= render :partial => 'form', :locals => { :f => f} %>
            <% end %>
          </div>
        </div>
      </div> -->

    <%= paginate @videos %>
    <div class="col-md-12">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <td> # </td>
            <td> Title</td>
            <td> URL </td>
            <td> 發布時間 </td>
            <td> 狀態 </td>
            <td> # </td>
          </tr>
        </thead>
        <tbody>
          <% @videos.each do |v| %>
          <tr>
            <td> # </td>
            <td><%= v.name %></td>
            <td><%= link_to v.url, :target => "_blank" %></td>
            <td><%= time_tag(v.public_datetime) %></td>
            <td>

              <%= display_video_status(v) %>

            </td>
            <td>
              <!-- <%= link_to "詳細", video_path(v) %> -->

              <%= link_to edit_video_path(v), :class => "btn btn-primary btn-sm" do %>
              <span class="glyphicon glyphicon-cog"></span> 編輯
              <% end %>
              <%= link_to video_path(v), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => "btn btn-danger btn-sm " do %>
              <span class="glyphicon glyphicon-remove"></span> 刪除
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


<script type="text/javascript">

// $(document).ready(function() {
//   $("#video-form").hide();
//   $("#btnForm").fancybox();
// });
// $(document).ready(function(){
//   $(".video-form").hide();
//     $(".new-video-btn").click(function(){
//         $(".video-form").toggle('slow');
//     });
// });


</script>